.header{
    background-image: url(image/donation8.jpg);
    margin: auto;

    background-size: 1500px 500px ;
    background-repeat: no-repeat;
    
    padding: 200px 25px 200px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.body-part{
    font-family: Arial, Helvetica, sans-serif;
}
.title-one{ 
    
    text-align: center;
    color: bisque;
    font-size: 40px;
}
.dec{ 
    
    text-align: center;
    color: white;
    padding:0px 100px 0px 100px;
  
}
.link-button{  text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(to bottom right, red, orange);
    border-radius: 10px ;
    margin: 50%;
    color: white;

}
.donate{
    justify-content: center;
    
    text-align: center;

}
.dec2{
    text-align: center;
    padding: 0px 100px;
    margin: 0px 100px;
    font-size: smaller;
}
.tk {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
   
}
.gap{
    margin-top: 30px;
    padding: 20px 30px;
}
.gap1{
    margin-top: 30px;
    padding: 20px 30px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: orange;
    background-color: #fed8b1;
}
.body-part{
    text-align: center;
    justify-content: center;
}
.amount{ text-align: center;
    border-bottom: 1px solid #bbb;
    color:#bbb;
    padding: 50px 0px 10px 0px;
    margin: 0px 200px;
}
.link2{
    
    text-decoration: none;
    background-image: linear-gradient(to bottom right, red, orange);
    padding: 10px 40px;
    margin-top: 100px;

}
.d-kind{
    
    display: flex;
    margin: 50px 30px 10px;
}
.box-d{
    
    font-size: smaller;
    padding: 10px;
    color: #4e4e4c;
   
    
}
.box{
    background-color: lightcyan;
    margin: 7px;
    padding: 20px 7px;
    text-align: left;
    
}
.donate2{
    display: flex;
    

}
.donate2__1{
    color: #4e4e4c;
}

.donate2_1{
    margin: 10px;
   padding: 20px;
   text-align: left;
   font-size: small;
}
.donate-q{
    text-decoration: none;
    background-image: linear-gradient(to bottom right, red, orange);
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    border-radius: 5px;
}
.donate2_2{
   margin: 10px;
   padding: 20px;
}

.box2{
    background-color: lightcyan;
    margin:0px 200px;
    padding: 20px 20px;
}

.footer{
    margin-top: 20px;
    padding :50px 0px;
    background-color: black;
    font-size: larger;
    color: #bbb;
}
